<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/font/iosevka.css" rel="stylesheet">
    <title>Wallpapers gallery - Augustin64</title>
</head>
<body>
    <div class="container">
    <header>
      <h1>Wallpapers Gallery <a href="https://gitlab.com/augustin64/wallpapers">[source]</a></h1>
	    <div class="note">
		  <p>Les images visibles ici sont des versions réduites des fonds d'écrans. Cliquez sur les images pour en récupérer la bonne version</p>
	    </div>
    </header>
        <div class="options">
            <button class="btn minus">-</button>
            <button class="btn plus">+</button>
        </div>
        <h2>Ma sélection</h2>
        <div class="grid image-grid">
            {% for image in selection %}
            <div class="image-container">
                <a href="{{ base_url }}/wallpapers/{{ image }}">
                    <label>
                        <img src="{{ base_url }}/thumbnails/{{ image }}">
                    </label>
                </a>
            </div>
            {% endfor %}
        </div>
        <h2>Autres fonds d'écrans</h2>
        <div class="grid" class="image-grid">
            {% for image in images %}
            <div class="image-container">
                <a href="{{ base_url }}/wallpapers/{{ image }}">
                    <label>
                        <img src="{{ base_url }}/thumbnails/{{ image }}">
                    </label>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
<style>
.image-grid {
    margin-bottom: 10%;
}

header {
  margin-bottom: 10%;
}

/* Set default font and color styles */
body {
    font-family: Iosevka Web;
    color: #cdd6f4;
    background-color: #1e1e2e;
}

/* Define styles for the container and title */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

/* Define styles for the options and grid */
.options {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    background-color: #11111b;
}


.btn {
    font-size: 20px;
    margin: 0 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #11111b;
    color: #cdd6f4;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

/* Define styles for the image container and download link */
.image-container {
    position: relative;
    overflow: hidden;
    background-color: #11111b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
    border-style: solid;
    border-color: #11111b;
}

.image-container:hover {
    border-color: #b4befe;
    transition: transform 0.2s ease-in-out;
}

.image-container img {
    margin: auto;
    width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;
    min-height: 20%;
    display: inline-block;
}


.image-container:hover img {
    transform: scale(1.1);
}

.download-link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #b4befe;
    color: #1e1e2e;
    text-align: center;
    padding: 5px;
}

.download-link a {
    color: #1e1e2e;
    text-decoration: none;
    font-weight: bold;
}

a {
    color: #b4befe;
    text-decoration: none;
}

</style>
<script>
    // Get the image grid element
const imageGrids = document.getElementsByClassName("image-grid");

// Get the plus and minus buttons
const minusBtn = document.querySelector(".minus");
const plusBtn = document.querySelector(".plus");

// Set the initial number of columns
let numCols = {{ num_cols }};

// Add event listeners to the buttons
plusBtn.addEventListener("click", () => {
    if (numCols > 1) {
        numCols--;
        updateGrid();
    }
});

minusBtn.addEventListener("click", () => {
    numCols++;
    updateGrid();
});

// Function to update the grid with the current number of columns
function updateGrid() {
    for (let i=0; i < imageGrids.length; i++) {
      imageGrids[i].style.gridTemplateColumns = `repeat(auto-fit, minmax(${100 / numCols}%, 1fr))`;
    }
}

updateGrid();
</script>
</html>
